.modal.o_technical_modal {
    .modal-content {
        border-radius: 0;
        width: 435px;
        height: 700px;
        }
}
.o_mytest {
    position: relative;
    display: block;
    width: 400px;
    height: 600px;
    border: 1px solid blue;
    background: #AFA;
    font-size: 64px;
}
.o_mv {
    height:66px;
    font-size:64px;strong text
    font-weight:bold;
}